*{
    padding: 0;
    margin: 0;
    outline: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    overflow: hidden;
    position: relative;
}
div{
    width :800px;
    height: 600px;
    border: 1px solid black;

    position: absolute;

    transition: all 1s linear 0s;
}